footer{
    background-color:var(--primary);
    width:100%;
    margin-bottom:0 !important;
}

footer *{
    color:var(--white);
}
.footer-img{
    width:100%;
    transform: translateY(10%);
}

.footer-menu{
    display:flex;
    justify-content:center;
    align-items:stretch;
}
.footer-menu a{
    color:var(--white);
    display:flex;
    align-items:center;
    text-decoration:none;
    text-align: center;
    position:relative;
    text-transform:uppercase;
    margin-right:calc(var(--navheight) / 9 );
    font-size:calc(var(--navheight)/12);
}

.copyright{
    color:var(--white);
    font-weight:bold;
    text-align:center;
    font-size:small;
}

/* desktop */
@media only screen and (min-width:1200px){
    footer{
        padding:2rem;
    }
}

/* tablet */
@media only screen and (min-width: 800px) and (max-width:1200px){
    footer{
        padding:2rem;
    }
}

 /* mobile  */
@media only screen and (max-width: 800px) {
    footer{
        padding:1.5rem;
    }
}